@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
   font-family: "Poppins", sans-serif;

}
.text2 {
   font-family: "InterDisplay";
   font-weight: 400;
}
.rare-bold {
   font-family: "InterDisplay";
   font-weight: 600;
   color: #92734b;
}
.title {
   font-family: "Poppins";
   color: #b88f30;
   font-size: 40px;
   font-weight: 600;
   text-align: center;
   text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.5);
}
.sub-title{
   font-family: "InterDisplay";
   font-style: italic;
   font-weight: 400;
   color: #b88f30;
}
.text3{
   font-size: 30px;
   color: #396621;
}
.italic{
   font-weight: 500;
   font-style: italic;
   color: #e97171;
}
.oblique{
   font-style: oblique;
   color: #2ec1ac;
   font-weight: 500;
}
.text4{
   color: #564fc2;
}
.thin {
   font-weight: 100;
}
.extralight {
   font-weight: 200;
}
.light{
   font-weight: 300;
}
.medium{
   font-weight: 500;
}
.semibold{
   font-weight: 600;
}
.bold{
   font-weight: 700;
}
.extrabold{
   font-weight: 800;
}
.black{
   font-weight: 900;
}
.right{
   text-align: right;
   color: #F24E1E;
}
.center {
   text-align: center;
   color: #fbb1c0;
}
.justify {
   text-align: justify;
   color: #1ab0ef;
}
.text5{
   color:#ca89e5;
    font-size: 16px;
}
.overline{
   text-decoration: overline;
}
.underline {
   text-decoration: underline;;
}
.wavy{
   text-decoration: underline;
   text-decoration-color: #F24E1E;
   text-decoration-style: wavy;
}
.dotted {
   text-decoration: underline;
   text-decoration-color: #2ec1ac;;
   text-decoration-style: dotted;
}
.dashed{
   text-decoration: underline;
   text-decoration-color: #564fc2;
   text-decoration-style: dashed;
}
.double{
   text-decoration: underline;
   text-decoration-color: #b88f30;;
   text-decoration-style: double;
}
.line-through{
   text-decoration: line-through;
}
.thick-line{
   text-decoration: line-through;
   text-decoration-thickness: 4px;
   text-decoration-color: #2f2204;;
}
.offset{
   text-decoration: underline;
   text-decoration-style: wavy;
   text-decoration-color: #ca89e5;
   text-underline-offset: 20px;
}

.text6 {
font-family: "InterDisplay";
font-weight: 600;
color: #07709d;
}
.text-shadow{
   text-shadow: -5px 3px 3px rgb(255, 221, 0);

}
.text-shadow2 {
   text-shadow: 
   5px 3px 3px rgb(0, 0, 0), 
   5px 3px 3px rgb(53, 227, 22);

}
.uppercase {
   text-transform: uppercase;
}
.lowercase {
   text-transform: lowercase;
}
.capitalize {
   text-transform: capitalize;
}
.line-height {
   line-height: 1.4;
}
.letter-spacing {
   letter-spacing: 10px;
}
.word-spacing {
   word-spacing: 15px;
}
.white-space {
   white-space: nowrap;
}
.project1 {
 font-family: "DM Sans";
}

.project-text {
   color: #666666;
   letter-spacing: -0.5px;
   font-size: 20px;
   line-height: 1.4;
}
.green {
   font-weight: 700;
   font-size: 50px;
   color: #1ab05b;
}
.project-title {
   font-weight: 400;
   font-size: 50px;
   letter-spacing: -1.26px;
   color: #121212;
   text-transform: capitalize;
}
.link {
   font-family: "InterDisplay";
   font-weight: 600;
   font-size: 20px;
   color: #1ab0ef;
}